@import url(zoom.css);

menu>#menuGeneral {
    position: relative;
    top: -2em;
    left: 100%;
    width: .1em;
    height: 2em;
    padding: 1em;
    border-radius: 50%;
    background: linear-gradient(90deg, transparent, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255));
    border: 2px solid #c9e0ff;
    box-shadow: 35px 35px 68px 0px rgba(145, 192, 255, 0.5), inset -8px -8px 16px 0px rgba(145, 192, 255, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    font-size: 2em;
    color: #0f4f93;
    z-index: 0;
}
.ferme:before {
    content: "ᐅ";
    position: absolute;
    top: 25%;
    font-size: 1em;
    color: #0f4f93;
}
.ouvert:before {
    content: "ᐊ";
    position: absolute;
    top: 25%;
    left: 25%;
    font-size: 1em;
    color: #0f4f93;
}
aside>menu {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 94%;
    width: auto;
    height: auto;
    padding: 0;
    gap: 10%;
}

aside>menu>nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    min-width: 33%;
    width: auto;
    height: auto;
    padding: 5%;
}

aside>menu>nav>p {
    font-size: .8em;
    text-shadow: 10px 1px 18px hsla(210, 100%, 35%, .8);
    width: auto;
    height: auto;
}

aside>menu>nav>button,
aside>menu>nav>a>button {
    width: 10em;
    height: 4em;
    background-color: #2f5b94;
    color: hsl(210, 100%, 35%);
    text-shadow: 0.5px 0.5px 1px rgba(236, 236, 236, 0.3), 0 0 1em rgba(253, 253, 253, 0.3), 0 0 0.2em rgba(194, 194, 194, 0.3);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 26px;
    border: 2px solid #c9e0ff;
    box-shadow: 35px 35px 68px 0px rgba(145, 192, 255, 0.5), inset -8px -8px 16px 0px rgba(145, 192, 255, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    transition: 0.3s ease-in-out;
}

input[type="color"],
input[type="color"]::-webkit-color-swatch,
input[type="color"]::-webkit-color-swatch-wrapper,
input[type="color"]::-moz-color-swatch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    outline: 2px solid hsla(0, 0%, 100%, .1);
    padding: 0 0 0 .2em;
    margin: -4px 0 0 -4px;
    border: 4px solid hsla(0, 0%, 100%, .1);
    background: transparent;
    overflow: visible;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 35px;
    box-shadow: 5px 5px 50px 0px rgba(145, 192, 255, 0.5);
}