svg {
	margin: -10em 0 0 10em;
	transform: scale(.76);
    z-index: 2;
}
#communes {
	fill: #f5f5f5;
	stroke: #000;
	stroke-width: 1px;
	stroke-linejoin: bevel;
}
path:not(.liseret):hover, path:active {
	fill: rgb(39, 104, 144);
	stroke: #2544c0;
	stroke-width: 4px;
	stroke-linejoin: bevel;
}
.departement {
	fill: #555555;
	stroke: #000;
	stroke-width: 1px;
	stroke-linejoin: bevel;
}

.liseret {
	fill: none;
	stroke: hsla(205, 35%, 87%, .3);
	stroke-width: 40;
	stroke-linecap: round;
	stroke-linejoin: round;
	filter: url(#filter3903);
}
