@media screen and (max-width: 1050px) {
    map {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        margin-left: -120%;
        z-index: 1;
    }
}