.infos{
    position:absolute;
    width: 180px;
    height: 300px;
	padding: 3em;
    display: none;
    backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 1);
        border-radius: 20px;
        box-shadow: 35px 35px 68px 0px rgba(65, 89, 155, 0.5), inset -6px -6px 16px 0px rgba(65, 89, 155, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    z-index: 5; 
}

.infos.show{
	display: flex;
	flex-flow: row wrap;
	align-items: space-around;
	justify-content: space-around;
}

.infos>h5 {
    font-size: 1.2em;
    width: 100%;
}

.infos>span {
    width: 100%;
}

.infos>nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}
.infos>label {
    width: 33%;
    height: 1em;
}