main>menu {
    position: absolute;
    width: 25%;
    height: 25%;
    bottom: 0;
    left: 0;
    z-index: 1;

}
main>menu>section {
    display: block;
    position: relative;
    width: 10em;
    height: 16em;
    margin: 0 0 -6em 0;
    z-index: 0;
}
main>menu>section>#fond {
    width: 100%;
    height: 60%;
    border-radius: 50%;
    box-shadow:  -3px 3px 7px #e7e6e6,
    3px -3px 4px #fbfbfb;
    background: hsla(0, 0%, 98%, .6);
    z-index: 0;
}
img[src="img/up.png"],
img[src="img/left.png"],
img[src="img/right.png"],
img[src="img/down.png"] {
    filter: contrast(0.9);
    opacity: 40%;
}
img[src="img/up.png"] {
    position: absolute;
    top: 3%;
    left: 16%;
    width: 68%;
    height: 22%;
    z-index: 1;
}
img[src="img/left.png"] {
    position: absolute;
    top: 10%;
    left: 5.5%;
    width: 34%;
    height: 40%;
    z-index: 2;
}
img[src="img/right.png"] {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 34%;
    height: 40%;
    z-index: 2;
}
img[src="img/down.png"] {
    position: absolute;
    bottom: 43%;
    left: 16%;
    width: 68%;
    height: 22%;
    z-index: 1;
}
img {
    transition: 0.3s ease-in-out;
}
img:active {
    transform: scale(0.9);
    filter: contrast(0.7);
    z-index: 0;
}
main>menu>section>button {
    background-color: #e7ecf5;
}
button:active,
#menu:active {
    transform: scale(0.99);
    box-shadow: inset 0 1px 2px 1px rgba(35, 35, 35, 0.4);
}
button:hover {
    background-color: rgba(231, 236, 245, 0.8);
}
#reset {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 6em;
    height: 2em;
    background-color: #2f5b94;
    color: hsl(0, 0%, 26%);
    text-shadow: 0.5px 0.5px 1px rgba(236, 236, 236, 0.3), 0 0 1em rgba(253, 253, 253, 0.3), 0 0 0.2em rgba(194, 194, 194, 0.3);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 26px;
    border: 2px solid #d5d5d5;
    box-shadow: 35px 35px 68px 0px rgba(145, 192, 255, 0.5), inset -8px -8px 16px 0px rgba(145, 192, 255, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    transition: 0.3s ease-in-out;
    z-index: 6;
}
.zoom, .dezoom {
    position: absolute;
    width: 60%;
    height: 19%;
    font-weight: bolder;
    font-size: 2em;
    line-height: 1em;
    color: rgb(33, 33, 33, 0.8);
    border: 1px solid rgba(35, 35, 35, 0.1);
    z-index: 3;
}
.zoom {
    left: 20%;
    top: 11%;
    border-radius: 50% 50% 0 0;
}
.dezoom {
    left: 20%;
    top: 31%;
    border-radius: 0 0 50% 50%;
}